<html>
    <head>
        {% if title %}
        <title>{{ title }} - Mind Dump</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% else %}
        <title>Welcome to Mind Dump</title>
        {% endif %}
    </head>
    
        
        <div class="topnav">
            
            <a href="{{ url_for('menu') }}">Mind Dump</a>
            <div class="topnav-right">
                {% if current_user.is_anonymous %}  
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
                
            <!-- <a href="{{ url_for('delete_acc') }}">Delete Account</a> -->
            

        </div>
        <!-- <hr> -->
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}

            <br>
            <div class="flash">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        

        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    
</html>