{% extends "base.html" %}
{% block content %}
    
<h1> Welcome to Mind Dump! </h1>
<h1> Main Menu </h1>
<div class="container">
  <strong><nav>
    <ul class="menu">
      
      <li><a href="{{ url_for('tracker') }}">Mental State Tracker</a></li>
      <li><a href="{{ url_for('activity') }}">Today's Activities</a></li>
      <li><a href="{{ url_for('journal') }} ">New Journal Entry</a></li>
      <li><a href="{{ url_for('prev') }} ">Previous Journal Entries</a></li>
      <li>Help</li>
      
    </ul>
  </nav></strong>
</div>
    
{% endblock %}
