{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>Posts</h1>

    <!-- lists all the posts of the user. can adjust post formatting here -->
    {% if posts|length > 0 %}
        {% for post in posts %}
        
        <p class="label">{{post.label}}</p>
        <p3>
        
        <div class="box">
            <b>{{ post.body }}</b>
            <div class="noline">
            <button type="button">
                <a class="no" href="{{ url_for('edit_post', id=post.id) }}">Edit</a>
            </button>
            
            <button type="button">
                <a class="no" href="{{ url_for('delete_post', id=post.id) }}">Delete</a>
            </button>
            </div>
        </div>
        <br>
        </p3>
        {% endfor %}
    {% else %}
    <h2>There are currently no previous posts.</h2>
    {% endif %}
    

    <!-- adds the navigation links if needed -->
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}

{% endblock %}