<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mental State Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
  {% extends "base.html" %}
  {% block content %}


    <h1> How are you feeling today? </h1>
    {% if form %}
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
          {{ form.post.label }}<br>
          {{ form.post(cols=32, rows=4) }}<br>
          {% for error in form.post.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    {% endif %}


    {% endblock %}
  </body>
</html>